---
import BackgroundImg from "../components/BackgroundImg.astro";
import { Image } from "astro:assets";

import pizzaHutImg from "../images/doodles/pizza-hut-roof.png"
import sun1Img from "../images/doodles/sun-1.png"
import sun2Img from "../images/doodles/sun-2.png"

const { imgData, scrollable } = Astro.props;
---

<div class="columns isReverseMobile no-bottom-pad">
    <div class={`column is-two-thirds-desktop  pb-0 pr-0 ${scrollable ? 'scrollable' : ''}`}>
      <div class="grid is-col-min-12 is-gap-0">
        {imgData.map(cell => (
          <div class="cell weddingCell">
            <BackgroundImg href={cell?.href} img={cell.img} newTab={cell?.newTab}>
              {cell.href ? (
                <a 
                  href={cell.href} 
                  target={cell?.newTab ? "_blank" : undefined} 
                  rel={cell?.newTab ? "noopener noreferrer" : undefined} 
                  class="weddingLink"
                >
                  {cell?.name}
                </a>
              ) : (
                <></>
              )}
            </BackgroundImg>    
          </div>  
        ))}
      </div>
    </div>
    <div class="column">
      <div class="section pb-0 pl-3 pr-3 pt-3">
        <h1 class="title index-title weddingTitle">CELEBRATE</h1>
        <h1 class="title index-title weddingTitle">WREN</h1>
        <h1 class="title index-title weddingTitle" style={{textAlign: 'right'}}>AND</h1>
        <h1 class="title index-title weddingTitle">ANTHONY'S</h1>
        <h1 class="title index-title weddingTitle" >MARRIAGE</h1>
      </div>
      <div class="section pl-4 pr-4 pt-0">
        <div class="container">
          <p class="details" style={{textAlign: 'left'}}>
            <a 
              href="https://airtable.com/appXCQL1B69Npnk6J/paguUPqMnkMMt9B62/form" 
              style={{fontWeight: 'bold'}}
              target="_blank"
              rel="noopener noreferrer" 
            >
              rsvp by march 15.
            </a>
          </p>
          <p class="details" style={{textAlign: 'left'}}>saturday, june 21st</p>
          <p class="details" style={{textAlign: 'left'}}>19 arnold drive</p>
          <p class="details" style={{textAlign: 'left'}}>woodstock, new york</p>
          <p></p>
          <p class="details">pizza, frivolity, and bacchanalia.</p>
          <p class="details">3:00pm til the cops come 
            <span style={{fontFamily: 'serif'}}>(</span>
            8:00pm
            <span style={{fontFamily: 'serif'}}>)</span>.
          </p>
          <p class="details">
            <a href="/your-trip">
              details
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <style>
    .tallerFont {
      display: inline-block; /* Required for transform to work properly */
      transform: scaleY(2.3); /* Stretch vertically */
    }
    .indexSection {
      padding-left: 0;
      padding-right: 0;
    }
    .indexCol {
      padding-left: 0;
      padding-right: 0;
    }
    .details {
      text-align: right;
      /* font-style: italic; */
      font-family: 'FreightBig Pro', serif;
      padding-bottom: 0px;
      /* line-height: ; */
    }
    .weddingCell {
      min-height: 50vh;
      max-height: 50vh;
    }
    .weddingTitle {
      font-family: "Big Bird", sans-serif;
      /* text-align: center; */
      /* font-weight: 'Light'; */
      /* color: white; */
      /* padding-bottom: .1rem; */
      /* margin-bottom: 10px; */
    }

    @media (max-width: 768px) {
      .isReverseMobile {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .weddingLink {
      font-family: "Big Bird", sans-serif;
      font-size: 2.5rem;
      /* font-style: italic; */
      font-weight: 500;
      color: white;
    }
	.no-bottom-pad {
		padding-bottom: 0px;
	}
	p {
		padding-bottom: 1rem;
    max-width: 100%;
	}
  @media (min-width: 769px) {
    .scrollable {
      overflow: scroll;
      max-height: 100vh;
    }

  }
  </style>
